.App{
  height:100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#bfa3cc;
}

button{
  /* margin-bottom: 50%; */
  color: white;
  border: none;
  padding: 10px;
}

